.event-page {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}

.event-header {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 15px;
}

.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.more-info-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.more-info-btn:hover {
    background: #0056b3;
}

/* search bar  */
.search-bar {
    width: 500px;
    padding: 10px;
    /* margin-right: 10px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.search-bar:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.search-icon{
    color: #ffffff;
    width: 1em;
    height: 2em;
    background-color: #0056b3;
    position: absolute;
    transform: translate(350px, -38px);
    font-size: 18px;
    border-radius: 5px;
}

.search-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

/* .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}} */

  /* HTML: <div class="loader"></div> */

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
  }
  .loader:before {
    content:"Loading...\AΔoading...\Aƒësading...\Aƒëding...\Aƒësing...\Aƒësʈng...\Aƒësʈṏg...\Aƒësʈṏʁ...\Aƒësʈṏʁí..\AƒësʈṏʁíɅ.\AƒësʈṏʁíɅ";
    white-space: pre;
    display: inline-block;
    animation: l39 1.8s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }